<?xml version="1.0" encoding="UTF-8"?>
<suite name="Appium Test Suite">
    <test name="Login and Logout">
        <classes>
            <class name="FreightSmith.BaseTestOpenApp" />
            <class name="FreightSmith.Login" />
            <class name="FreightSmith.captchaFilling" />
            <class name="FreightSmith.LogOut" />
        </classes>
    </test>
</suite>